    - name: install mysql server
      ansible.builtin.dnf:
        name: mysql-server
        state: present

    - name: start mysql service
      ansible.builtin.service:
        name: mysqld
        state: started
        enabled: true

    - name: set mysql root password
      ansible.builtin.command: "mysql_secure_installation --set-root-pass {{ mysql_root_password }}"